 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
 }
 header {width: 100%;}
 .container {
   background-image: url("../images/design1_image1.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 20vh;
   
 }
 img {
  background-image: url("../images/Logo_Mighty_ducks-01.png");
  position: relative;
  left: 90%;
  bottom: 5rem;
  
 }

  h2 {
  background-color: aquamarine;
  background-position: center center;
  height: 3rem;
  text-align: center;
  padding-top: 0.3rem;
 }
 
h3 {
  color: blueviolet;
}
p {
  color: blue;
}
 section {
  position:relative;
  left: 25%;
  bottom: 15rem;
  height: 25%;
 }
 
a {
  display: block;
  margin-bottom: 2rem;
}
nav {
  padding-left: 2rem;
  padding-bottom: 5rem;
}
footer {
  position:relative;
  left: 25%;
  bottom: 15rem;
  height: 25%;

}
  


  
 
 


   

   

   
 